In [1]:
import pandas as pd

In [2]:
library_df = pd.read_csv('SMCL_ANF_Items.csv')
library_df

C:\Users\onlyd\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,LOCATION,BRANCH,MATERIAL,BARCODE,RECORD #(ITEM),CREATED(ITEM),RECORD #(BIBLIO),CREATED(BIBLIO),I TYPE,MAT TYPE,...,# RENEWALS,STATUS,DUE DATE,LOUTDATE,LCHKIN,CALL #,OTHER CALL,Book Title,Author,008 Date One
0,1vanf,1v,anf,3.900000e+13,i10000471,7/18/2005 8:45,b10000203,7/18/2005 8:45,10,a,...,0,m,- -,4/28/2016 15:35,5/24/2016 11:00,NATURE MAMMAL,"599 E 1998;""NATURE MAMMAL""",Encyclopedia of mammals /,NaN,1998
1,1zanf,1z,anf,3.900000e+13,i10001098,7/18/2005 8:45,b10000276,7/18/2005 8:45,10,a,...,0,-,- -,4/18/2018 17:17,5/14/2018 10:40,NATURE MARINE,597 E 1998,Encyclopedia of fishes /,NaN,1998
2,1fanf,1f,anf,3.900000e+13,i10001475,7/18/2005 8:45,b1000032x,7/18/2005 8:45,10,a,...,0,-,- -,11/24/2019 16:41,1/10/2020 10:47,NATURE BIRD,598.2 E 1998,Encyclopedia of birds /,NaN,1998
3,1manf,1m,anf,3.900000e+13,i10001517,7/18/2005 8:45,b1000032x,7/18/2005 8:45,10,a,...,0,-,- -,7/12/2018 15:36,7/14/2018 11:13,NATURE BIRD,598.2 E 1998,Encyclopedia of birds /,NaN,1998
4,1eanf,1e,anf,3.900000e+13,i10010816,7/18/2005 8:47,b10002364,7/18/2005 8:47,10,a,...,0,m,- -,6/8/2016 16:57,8/17/2016 17:01,COOKING INTL,641.5972 G,Caribbean and African cooking /,"Grant, Rosamund.",1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70785,1hanf,1h,anf,3.900000e+13,i80124422,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70786,1manf,1m,anf,3.900000e+13,i80124434,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70787,1sanf,1s,anf,3.900000e+13,i80124446,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70788,1eanf,1e,anf,3.900000e+13,i80124458,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70789,1eanf,1e,anf,3.900000e+13,i8012494x,3/16/2020 11:23,b26571018,11/21/2018 12:27,10,a,...,0,t,- -,- -,- -,ART PERFORM,NaN,Showtime at the Apollo :,"Fox, Ted,",2018

In [3]:
status_dict = {'!' : 'On Hold Shelf',
    '#' : 'Link + Received',
    '$' : 'Lost and Paid',
    '%' : 'Link + Returned',
    '&' : 'Link + Requested',
    '(' : 'Link + Paged',
    ')' : 'Link + Cancelled',
    '+' : 'Renew Pending',
    '-' : 'Check Shelf',
    '@' : 'Link + Loaned',
    '_' : 'Link + Re-Requested',
    'a' : 'Ask at desk',
    'b' : 'Bindery',
    'd' : 'Damaged',
    'e' : 'En Route',
    'f' : 'Off Site',
    'g' : 'Mending',
    'h' : 'Too Long in Transit',
    'i' : 'Internet',
    'l' : 'Lost',
    'm' : 'Missing',
    'n' : 'Billed',
    'o' : 'On Display',
    'p' : 'Processing',
    'r' : 'Re-ordered',
    's' : 'Display Area',
    't' : 'In Transit',
    'u' : "Storage",
    'v' : 'Missing Part',
    'w' : 'Withdrawn',
    'x' : 'Problem Record',
    'z' : 'Claimed Return'}

In [4]:
library_df_1 = library_df.replace({"STATUS": status_dict})

In [5]:
library_df_1

,LOCATION,BRANCH,MATERIAL,BARCODE,RECORD #(ITEM),CREATED(ITEM),RECORD #(BIBLIO),CREATED(BIBLIO),I TYPE,MAT TYPE,...,# RENEWALS,STATUS,DUE DATE,LOUTDATE,LCHKIN,CALL #,OTHER CALL,Book Title,Author,008 Date One
0,1vanf,1v,anf,3.900000e+13,i10000471,7/18/2005 8:45,b10000203,7/18/2005 8:45,10,a,...,0,m,- -,4/28/2016 15:35,5/24/2016 11:00,NATURE MAMMAL,"599 E 1998;""NATURE MAMMAL""",Encyclopedia of mammals /,NaN,1998
1,1zanf,1z,anf,3.900000e+13,i10001098,7/18/2005 8:45,b10000276,7/18/2005 8:45,10,a,...,0,-,- -,4/18/2018 17:17,5/14/2018 10:40,NATURE MARINE,597 E 1998,Encyclopedia of fishes /,NaN,1998
2,1fanf,1f,anf,3.900000e+13,i10001475,7/18/2005 8:45,b1000032x,7/18/2005 8:45,10,a,...,0,-,- -,11/24/2019 16:41,1/10/2020 10:47,NATURE BIRD,598.2 E 1998,Encyclopedia of birds /,NaN,1998
3,1manf,1m,anf,3.900000e+13,i10001517,7/18/2005 8:45,b1000032x,7/18/2005 8:45,10,a,...,0,-,- -,7/12/2018 15:36,7/14/2018 11:13,NATURE BIRD,598.2 E 1998,Encyclopedia of birds /,NaN,1998
4,1eanf,1e,anf,3.900000e+13,i10010816,7/18/2005 8:47,b10002364,7/18/2005 8:47,10,a,...,0,m,- -,6/8/2016 16:57,8/17/2016 17:01,COOKING INTL,641.5972 G,Caribbean and African cooking /,"Grant, Rosamund.",1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70785,1hanf,1h,anf,3.900000e+13,i80124422,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70786,1manf,1m,anf,3.900000e+13,i80124434,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70787,1sanf,1s,anf,3.900000e+13,i80124446,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70788,1eanf,1e,anf,3.900000e+13,i80124458,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70789,1eanf,1e,anf,3.900000e+13,i8012494x,3/16/2020 11:23,b26571018,11/21/2018 12:27,10,a,...,0,t,- -,- -,- -,ART PERFORM,NaN,Showtime at the Apollo :,"Fox, Ted,",2018

In [6]:
library_df['STATUS'].value_counts

<bound method IndexOpsMixin.value_counts of 0        m
1        -
2        -
3        -
4        m
        ...
70785    t
70786    t
70787    t
70788    t
70789    t
Name: STATUS, Length: 70790, dtype: object>