In [98]:
import pandas as pd
import numpy as np

In [99]:
smcl_data = pd.read_csv("SMCL_ANF_Items.csv")
smcl_data.head()

,LOCATION,BRANCH,MATERIAL,BARCODE,RECORD #(ITEM),CREATED(ITEM),RECORD #(BIBLIO),CREATED(BIBLIO),I TYPE,MAT TYPE,...,# RENEWALS,STATUS,DUE DATE,LOUTDATE,LCHKIN,CALL #,OTHER CALL,245|a,100|a,008 Date One
0,1vanf,1v,anf,3.904100e+13,i10000471,7/18/2005 8:45,b10000203,7/18/2005 8:45,10,a,...,0,m,- -,4/28/2016 15:35,5/24/2016 11:00,NATURE MAMMAL,"599 E 1998;""NATURE MAMMAL""",Encyclopedia of mammals /,NaN,1998
1,1zanf,1z,anf,3.904100e+13,i10001098,7/18/2005 8:45,b10000276,7/18/2005 8:45,10,a,...,0,-,- -,4/18/2018 17:17,5/14/2018 10:40,NATURE MARINE,597 E 1998,Encyclopedia of fishes /,NaN,1998
2,1fanf,1f,anf,3.904100e+13,i10001475,7/18/2005 8:45,b1000032x,7/18/2005 8:45,10,a,...,0,-,- -,11/24/2019 16:41,1/10/2020 10:47,NATURE BIRD,598.2 E 1998,Encyclopedia of birds /,NaN,1998
3,1manf,1m,anf,3.904100e+13,i10001517,7/18/2005 8:45,b1000032x,7/18/2005 8:45,10,a,...,0,-,- -,7/12/2018 15:36,7/14/2018 11:13,NATURE BIRD,598.2 E 1998,Encyclopedia of birds /,NaN,1998
4,1eanf,1e,anf,3.904100e+13,i10010816,7/18/2005 8:47,b10002364,7/18/2005 8:47,10,a,...,0,m,- -,6/8/2016 16:57,8/17/2016 17:01,COOKING INTL,641.5972 G,Caribbean and African cooking /,"Grant, Rosamund.",1998

In [100]:
#Renamed the columns for column V, W, X

smcl_data2 = smcl_data.rename(columns={'245|a': 'Book Title','100|a': 'Author',
                                      '008 Date One': 'Published Date'})

#dropped columns

smcl_data_clean = smcl_data2.drop(['LOCATION', 'BARCODE', 'RECORD #(ITEM)',
                 'I TYPE', 'MAT TYPE', 'OTHER CALL'], axis=1)

#created dictionary for the BRANCH column and replaced with actual location

branch_dict = {'0k': 'Bookmobile', '1a':'Atherton', '1b':'Belmont', '1r':'Brisbane','1e':'East Palo Alto','1f':'Foster City'
,'1h':'Half Moon Bay','1m':'Millbrae','1p':'Pacifica Sharp Park','1z':'Pacifica Sanchez','1s':'San Carlos','1v':'Portola Valley','1w':'Woodside'}


smcl_data_clean.replace({"BRANCH": branch_dict})

,BRANCH,MATERIAL,CREATED(ITEM),RECORD #(BIBLIO),CREATED(BIBLIO),YTDCIRC,LYRCIRC,TOT CHKOUT,TOT RENEW,# RENEWALS,STATUS,DUE DATE,LOUTDATE,LCHKIN,CALL #,Book Title,Author,Published Date
0,Portola Valley,anf,7/18/2005 8:45,b10000203,7/18/2005 8:45,0,0,15,6,0,m,- -,4/28/2016 15:35,5/24/2016 11:00,NATURE MAMMAL,Encyclopedia of mammals /,NaN,1998
1,Pacifica Sanchez,anf,7/18/2005 8:45,b10000276,7/18/2005 8:45,0,0,30,11,0,-,- -,4/18/2018 17:17,5/14/2018 10:40,NATURE MARINE,Encyclopedia of fishes /,NaN,1998
2,Foster City,anf,7/18/2005 8:45,b1000032x,7/18/2005 8:45,2,3,40,23,0,-,- -,11/24/2019 16:41,1/10/2020 10:47,NATURE BIRD,Encyclopedia of birds /,NaN,1998
3,Millbrae,anf,7/18/2005 8:45,b1000032x,7/18/2005 8:45,0,0,17,9,0,-,- -,7/12/2018 15:36,7/14/2018 11:13,NATURE BIRD,Encyclopedia of birds /,NaN,1998
4,East Palo Alto,anf,7/18/2005 8:47,b10002364,7/18/2005 8:47,0,0,8,8,0,m,- -,6/8/2016 16:57,8/17/2016 17:01,COOKING INTL,Caribbean and African cooking /,"Grant, Rosamund.",1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70785,Half Moon Bay,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70786,Millbrae,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70787,San Carlos,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70788,East Palo Alto,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70789,East Palo Alto,anf,3/16/2020 11:23,b26571018,11/21/2018 12:27,0,0,0,0,0,t,- -,- -,- -,ART PERFORM,Showtime at the Apollo :,"Fox, Ted,",2018

In [101]:
#looking for values to combine in Call # field
smcl_data_clean["CALL #"].value_counts()

#cleaning up and only using initial categorey 
smcl_data_clean["CALL #"] = smcl_data_clean["CALL #"].str.split(" ", 1, expand=True)
smcl_data_clean

,BRANCH,MATERIAL,CREATED(ITEM),RECORD #(BIBLIO),CREATED(BIBLIO),YTDCIRC,LYRCIRC,TOT CHKOUT,TOT RENEW,# RENEWALS,STATUS,DUE DATE,LOUTDATE,LCHKIN,CALL #,Book Title,Author,Published Date
0,1v,anf,7/18/2005 8:45,b10000203,7/18/2005 8:45,0,0,15,6,0,m,- -,4/28/2016 15:35,5/24/2016 11:00,NATURE,Encyclopedia of mammals /,NaN,1998
1,1z,anf,7/18/2005 8:45,b10000276,7/18/2005 8:45,0,0,30,11,0,-,- -,4/18/2018 17:17,5/14/2018 10:40,NATURE,Encyclopedia of fishes /,NaN,1998
2,1f,anf,7/18/2005 8:45,b1000032x,7/18/2005 8:45,2,3,40,23,0,-,- -,11/24/2019 16:41,1/10/2020 10:47,NATURE,Encyclopedia of birds /,NaN,1998
3,1m,anf,7/18/2005 8:45,b1000032x,7/18/2005 8:45,0,0,17,9,0,-,- -,7/12/2018 15:36,7/14/2018 11:13,NATURE,Encyclopedia of birds /,NaN,1998
4,1e,anf,7/18/2005 8:47,b10002364,7/18/2005 8:47,0,0,8,8,0,m,- -,6/8/2016 16:57,8/17/2016 17:01,COOKING,Caribbean and African cooking /,"Grant, Rosamund.",1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70785,1h,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART,Blender /,"Van Gumster, Jason,",2020
70786,1m,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART,Blender /,"Van Gumster, Jason,",2020
70787,1s,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART,Blender /,"Van Gumster, Jason,",2020
70788,1e,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART,Blender /,"Van Gumster, Jason,",2020
70789,1e,anf,3/16/2020 11:23,b26571018,11/21/2018 12:27,0,0,0,0,0,t,- -,- -,- -,ART,Showtime at the Apollo :,"Fox, Ted,",2018

In [96]:
#Looking to see which roll to remove
smcl_data_clean["CALL #"].value_counts()

BIO              6789
COOKING          5231
HISTORY          4966
HEALTH           4575
TRAVEL           4540
                 ...
F-OAT               1
BIO-ZAMPERINI       1
YA-BIO              1
VID                 1
W-MCG               1
Name: CALL #, Length: 254, dtype: int64

In [97]:
#Removing items starting with "F-"
smcl_data_removed1 = smcl_data_clean[~smcl_data_clean["CALL #"].astype(str).str.startswith('F-')]
#Removing items starting with "M-"
smcl_data_removed2 = smcl_data_removed1[~smcl_data_removed1["CALL #"].astype(str).str.startswith('M-')]
#Removing items starting with "SF-"
smcl_data_removed3 = smcl_data_removed2[~smcl_data_removed2["CALL #"].astype(str).str.startswith('SF-')]
#Removing items starting with "YA-"
smcl_data_removed4 = smcl_data_removed3[~smcl_data_removed3["CALL #"].astype(str).str.startswith('YA-')]

#Removing items that appear less than 10 times
smcl_data_removed5 = smcl_data_removed4.groupby('CALL #').filter(lambda d: len(d) > 10)
smcl_data_removed5["CALL #"].value_counts()

BIO          6789
COOKING      5231
HISTORY      4966
HEALTH       4575
TRAVEL       4540
BUSINESS     3408
ART          3266
SOC          3191
LIFE         2850
EDUCATE      2812
SELFHELP     2691
LIT          2653
HOME         2451
CRAFT        1997
SCIENCE      1825
GARDEN       1724
RELIGION     1651
PERS         1620
SPORT        1550
LAW          1499
COMPUTE      1286
NATURE       1283
PSYCH        1265
SPIRIT        927
LANG          652
PET           599
PHILSOPH      442
TECH          368
TRANSPRT      283
GAME          261
HOLIDAY       253
COLLECT       250
PARTY         191
CD            173
FARMING       138
MYTH/FLK      126
TRIBE         117
CRAFTS         72
PHILOSOPH      70
DVD            66
CONSUMER       54
HOBBY          49
SELF           43
J              40
GENEALGY       36
SPORTS         31
LITERATUR      31
PETS           29
PER            25
CHI            17
SP             12
USB            11
Name: CALL #, dtype: int64

In [91]:
#Renamed the columns for column V, W, X

smcl_data2 = smcl_data.rename(columns={'245|a': 'Book Title','100|a': 'Author',
                                      '008 Date One': 'Published Date'})

#dropped columns

smcl_data_clean = smcl_data2.drop(['LOCATION', 'BARCODE', 'RECORD #(ITEM)',
                 'I TYPE', 'MAT TYPE', 'OTHER CALL'], axis=1)

#created dictionary for the BRANCH column and replaced with actual location

branch_dict = {'0k': 'Bookmobile', '1a':'Atherton', '1b':'Belmont', '1r':'Brisbane','1e':'East Palo Alto','1f':'Foster City'
,'1h':'Half Moon Bay','1m':'Millbrae','1p':'Pacifica Sharp Park','1z':'Pacifica Sanchez','1s':'San Carlos','1v':'Portola Valley','1w':'Woodside'}


smcl_data_clean.replace({"BRANCH": branch_dict})

,BRANCH,MATERIAL,CREATED(ITEM),RECORD #(BIBLIO),CREATED(BIBLIO),YTDCIRC,LYRCIRC,TOT CHKOUT,TOT RENEW,# RENEWALS,STATUS,DUE DATE,LOUTDATE,LCHKIN,CALL #,Book Title,Author,Published Date
0,Portola Valley,anf,7/18/2005 8:45,b10000203,7/18/2005 8:45,0,0,15,6,0,m,- -,4/28/2016 15:35,5/24/2016 11:00,NATURE MAMMAL,Encyclopedia of mammals /,NaN,1998
1,Pacifica Sanchez,anf,7/18/2005 8:45,b10000276,7/18/2005 8:45,0,0,30,11,0,-,- -,4/18/2018 17:17,5/14/2018 10:40,NATURE MARINE,Encyclopedia of fishes /,NaN,1998
2,Foster City,anf,7/18/2005 8:45,b1000032x,7/18/2005 8:45,2,3,40,23,0,-,- -,11/24/2019 16:41,1/10/2020 10:47,NATURE BIRD,Encyclopedia of birds /,NaN,1998
3,Millbrae,anf,7/18/2005 8:45,b1000032x,7/18/2005 8:45,0,0,17,9,0,-,- -,7/12/2018 15:36,7/14/2018 11:13,NATURE BIRD,Encyclopedia of birds /,NaN,1998
4,East Palo Alto,anf,7/18/2005 8:47,b10002364,7/18/2005 8:47,0,0,8,8,0,m,- -,6/8/2016 16:57,8/17/2016 17:01,COOKING INTL,Caribbean and African cooking /,"Grant, Rosamund.",1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70785,Half Moon Bay,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70786,Millbrae,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70787,San Carlos,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70788,East Palo Alto,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70789,East Palo Alto,anf,3/16/2020 11:23,b26571018,11/21/2018 12:27,0,0,0,0,0,t,- -,- -,- -,ART PERFORM,Showtime at the Apollo :,"Fox, Ted,",2018