In [36]:
import pandas as pd
import re as re

In [27]:
smcl_data = pd.read_csv("SMCL_ANF_Items.csv")
smcl_data

,LOCATION,BRANCH,MATERIAL,BARCODE,RECORD #(ITEM),CREATED(ITEM),RECORD #(BIBLIO),CREATED(BIBLIO),I TYPE,MAT TYPE,...,# RENEWALS,STATUS,DUE DATE,LOUTDATE,LCHKIN,CALL #,OTHER CALL,245|a,100|a,008 Date One
0,1vanf,1v,anf,3.904100e+13,i10000471,7/18/2005 8:45,b10000203,7/18/2005 8:45,10,a,...,0,m,- -,4/28/2016 15:35,5/24/2016 11:00,NATURE MAMMAL,"599 E 1998;""NATURE MAMMAL""",Encyclopedia of mammals /,NaN,1998
1,1zanf,1z,anf,3.904100e+13,i10001098,7/18/2005 8:45,b10000276,7/18/2005 8:45,10,a,...,0,-,- -,4/18/2018 17:17,5/14/2018 10:40,NATURE MARINE,597 E 1998,Encyclopedia of fishes /,NaN,1998
2,1fanf,1f,anf,3.904100e+13,i10001475,7/18/2005 8:45,b1000032x,7/18/2005 8:45,10,a,...,0,-,- -,11/24/2019 16:41,1/10/2020 10:47,NATURE BIRD,598.2 E 1998,Encyclopedia of birds /,NaN,1998
3,1manf,1m,anf,3.904100e+13,i10001517,7/18/2005 8:45,b1000032x,7/18/2005 8:45,10,a,...,0,-,- -,7/12/2018 15:36,7/14/2018 11:13,NATURE BIRD,598.2 E 1998,Encyclopedia of birds /,NaN,1998
4,1eanf,1e,anf,3.904100e+13,i10010816,7/18/2005 8:47,b10002364,7/18/2005 8:47,10,a,...,0,m,- -,6/8/2016 16:57,8/17/2016 17:01,COOKING INTL,641.5972 G,Caribbean and African cooking /,"Grant, Rosamund.",1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70785,1hanf,1h,anf,3.904110e+13,i80124422,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70786,1manf,1m,anf,3.904110e+13,i80124434,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70787,1sanf,1s,anf,3.904110e+13,i80124446,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70788,1eanf,1e,anf,3.904110e+13,i80124458,3/16/2020 10:47,b2849555x,11/12/2019 14:54,10,a,...,0,t,- -,- -,- -,ART ANIMATE,NaN,Blender /,"Van Gumster, Jason,",2020
70789,1eanf,1e,anf,3.904110e+13,i8012494x,3/16/2020 11:23,b26571018,11/21/2018 12:27,10,a,...,0,t,- -,- -,- -,ART PERFORM,NaN,Showtime at the Apollo :,"Fox, Ted,",2018

In [32]:
#Renamed the columns for column V, W, X

smcl_data2 = smcl_data.rename(columns={'245|a': 'Book Title','100|a': 'Author',
                                      '008 Date One': 'Published Date'})
#dropped columns

smcl_data_clean = smcl_data2.drop(['LOCATION', 'BARCODE', 'RECORD #(ITEM)',
                 'I TYPE', 'MAT TYPE', 'OTHER CALL'], axis=1)
smcl_data_clean

,BRANCH,MATERIAL,CREATED(ITEM),RECORD #(BIBLIO),CREATED(BIBLIO),YTDCIRC,LYRCIRC,TOT CHKOUT,TOT RENEW,# RENEWALS,STATUS,DUE DATE,LOUTDATE,LCHKIN,CALL #,Book Title,Author,Published Date
0,1v,anf,7/18/2005 8:45,b10000203,7/18/2005 8:45,0,0,15,6,0,m,- -,4/28/2016 15:35,5/24/2016 11:00,NATURE MAMMAL,Encyclopedia of mammals /,NaN,1998
1,1z,anf,7/18/2005 8:45,b10000276,7/18/2005 8:45,0,0,30,11,0,-,- -,4/18/2018 17:17,5/14/2018 10:40,NATURE MARINE,Encyclopedia of fishes /,NaN,1998
2,1f,anf,7/18/2005 8:45,b1000032x,7/18/2005 8:45,2,3,40,23,0,-,- -,11/24/2019 16:41,1/10/2020 10:47,NATURE BIRD,Encyclopedia of birds /,NaN,1998
3,1m,anf,7/18/2005 8:45,b1000032x,7/18/2005 8:45,0,0,17,9,0,-,- -,7/12/2018 15:36,7/14/2018 11:13,NATURE BIRD,Encyclopedia of birds /,NaN,1998
4,1e,anf,7/18/2005 8:47,b10002364,7/18/2005 8:47,0,0,8,8,0,m,- -,6/8/2016 16:57,8/17/2016 17:01,COOKING INTL,Caribbean and African cooking /,"Grant, Rosamund.",1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70785,1h,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70786,1m,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70787,1s,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70788,1e,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART ANIMATE,Blender /,"Van Gumster, Jason,",2020
70789,1e,anf,3/16/2020 11:23,b26571018,11/21/2018 12:27,0,0,0,0,0,t,- -,- -,- -,ART PERFORM,Showtime at the Apollo :,"Fox, Ted,",2018

In [51]:
#looking for values to combine in Call # field
smcl_data_clean["CALL #"].value_counts()

#cleaning up and only using initial categorey 
smcl_data_clean["CALL #"] = smcl_data_clean["CALL #"].str.split(" ", 1, expand=True)
smcl_data_clean

,BRANCH,MATERIAL,CREATED(ITEM),RECORD #(BIBLIO),CREATED(BIBLIO),YTDCIRC,LYRCIRC,TOT CHKOUT,TOT RENEW,# RENEWALS,STATUS,DUE DATE,LOUTDATE,LCHKIN,CALL #,Book Title,Author,Published Date
0,1v,anf,7/18/2005 8:45,b10000203,7/18/2005 8:45,0,0,15,6,0,m,- -,4/28/2016 15:35,5/24/2016 11:00,NATURE,Encyclopedia of mammals /,NaN,1998
1,1z,anf,7/18/2005 8:45,b10000276,7/18/2005 8:45,0,0,30,11,0,-,- -,4/18/2018 17:17,5/14/2018 10:40,NATURE,Encyclopedia of fishes /,NaN,1998
2,1f,anf,7/18/2005 8:45,b1000032x,7/18/2005 8:45,2,3,40,23,0,-,- -,11/24/2019 16:41,1/10/2020 10:47,NATURE,Encyclopedia of birds /,NaN,1998
3,1m,anf,7/18/2005 8:45,b1000032x,7/18/2005 8:45,0,0,17,9,0,-,- -,7/12/2018 15:36,7/14/2018 11:13,NATURE,Encyclopedia of birds /,NaN,1998
4,1e,anf,7/18/2005 8:47,b10002364,7/18/2005 8:47,0,0,8,8,0,m,- -,6/8/2016 16:57,8/17/2016 17:01,COOKING,Caribbean and African cooking /,"Grant, Rosamund.",1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70785,1h,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART,Blender /,"Van Gumster, Jason,",2020
70786,1m,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART,Blender /,"Van Gumster, Jason,",2020
70787,1s,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART,Blender /,"Van Gumster, Jason,",2020
70788,1e,anf,3/16/2020 10:47,b2849555x,11/12/2019 14:54,0,0,0,0,0,t,- -,- -,- -,ART,Blender /,"Van Gumster, Jason,",2020
70789,1e,anf,3/16/2020 11:23,b26571018,11/21/2018 12:27,0,0,0,0,0,t,- -,- -,- -,ART,Showtime at the Apollo :,"Fox, Ted,",2018

In [52]:
smcl_data_clean["CALL #"].value_counts()

BIO        6789
COOKING    5231
HISTORY    4966
HEALTH     4575
TRAVEL     4540
           ...
M-VAN         1
TOWN          1
F-URB         1
F-MUR         1
SF-OWE        1
Name: CALL #, Length: 254, dtype: int64